.App {
  text-align: center;
  background-color: lightblue;
  height: 1000px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  height: 20vh;
  color: white;
  background-color: lightslategray;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.ui.bar.segment {
  margin: 20px;
  width: 80%;
  height: 80%;
}
