.App {
  text-align: center;
  background-color: white;
  height: 400vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  height: 20vh;
  color: white;
  background-color: lightslategray;
}

.App-link {
  color: #61dafb;
}

#bar.container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-color: lightblue;
}

#light.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: lightblue;
}

#dark.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(50, 95, 110);
}
.ui.bar.segment {
  margin-top: 2%;
  margin-left: 10%;
  width: 80%;
  height: 80%;
}

.ui.line.segment {
  margin-top: 2%;
  margin-left: 5%;
  width: 40%;
  height: 80%;
}

